doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/ui-bootstrap.js')
  body(ng-app)
    block content